<!doctype html>
<html lang="en">

<!-------------------------------------------------------- HEAD -------------------------------------------------------->
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- IMPORTS -->
    <!-- java script -->
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/gallery-sports.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sticky-footer.css"/>

    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>

<!-------------------------------------------------------- BODY -------------------------------------------------------->
<body>
<!------------------------------------------------------- HEADER ------------------------------------------------------->
<!------------------------------------------------------- CONTENT ------------------------------------------------------>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header"><a href="#" class="navbar-brand">Book a Court</a></div>
    </div>
</nav>
{{{ body }}}
<!------------------------------------------------------- FOOTER ------------------------------------------------------->
<div class="footer">
    <div class="container">
        <div class="row">
            <p class="footer-links">
                <a href="" style="color: #ffffff">Home</a>
                ·
                <a href="" style="color: #ffffff">Book</a>
                ·
                <a href="" style="color: #ffffff">Account</a>
                ·
                <a href="" style="color: #ffffff">Login</a>
                ·
                <a href="" style="color: #ffffff">Register</a>
            </p>
            <br>
            <p style="color: #ffffff">
                MOVON &copy; 2017
                ·
                <a href="" style="color: #ffffff">Terms & Privacy</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>