<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center center-block">
            <h1 class="bigTitle">{{sport}}</h1bigTitle>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center center-block">
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" id="date" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Sunday, 26th of March <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="changeDate1">Monday, 27th of March</a></li>
                    <li><a href="#" id="changeDate2">Tuesday, 28th of March</a></li>
                    <li><a href="#" id="changeDate3">Wednesday, 29th of March</a></li>
                    <li><a href="#" id="changeDate4">Thursday, 30th of March</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div style="padding-left: 300px; padding-right: 300px">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td style="text-align: center; font-weight: bold">
                    TIMES
                </th>
                <td style="text-align: center; font-weight: bold">
                    BOOK
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    8AM - 9AM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    9AM - 10AM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr id="erase">
                <td style="text-align: center; vertical-align: middle">
                    10AM - 11AM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" id="reservation" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    11AM - 12PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    12PM - 1PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    1PM - 2PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    2PM - 3PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    3PM - 4PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    4PM - 5PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    5PM - 6PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    6PM - 7PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    7PM - 8PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    8PM - 9PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle">
                    9PM - 10PM
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">book</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{sport}}</h4>
            </div>
            <div class="modal-body">
                You have successfully booked a {{sport}} court from 10AM to 11AM.
                You have been assigned court #6.
                An email has also been send for confirmation.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
