<div class="container">
    <div class="row">
        <div  class="col-xs-12 text-center center-block">
            <h1>Basketball</h1>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center center-block">
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sunday, 26th of March <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Monday, 27th of March</a></li>
                    <li><a href="#">Tuesday, 28th of March</a></li>
                    <li><a href="#">Wednesday, 29th of March</a></li>
                    <li><a href="#">Thursday, 30th of March</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-0">
        </div>
        <div  class="col-xs-12 col-md-6 offset-md-3 center-block">
            <ul class="list-group">
                <li class="list-group-item">8-9 am  <button class="btn btn-danger"> book</button></li>
                <li class="list-group-item">9-10 am</li>
                <li class="list-group-item">10-11 am</li>
                <li class="list-group-item">3-4 pm</li>
                <li class="list-group-item">5-6 pm</li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-0">
    </div>

</div>