<head>
    <style>p.indent{ padding-left: 1.8em }</style>
</head>
<body>
<br>
<br>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p class="indent">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JUSTINE P JOSE</p>
                <p class="indent">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JPJ26@BATH.AC.UK</p>
                <p class="indent">Sport:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TENNIS</p>
                <p class="indent">Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 13/09/1996</p>
                <p class="indent">Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 06:15</p>
                <p class="indent">Court:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</body>