<h1>Sports Seelection</h1>
<div>
    <table class="center">
        <tr>
            <td><a href="" name="thumb00"><img src="/images/american-football.png" alt="Click!"></a></td>
            <td><a href="" name="thumb01"><img src="/images/badminton.png" alt="Click!"></a></td>
            <td><a href="" name="thumb02"><img src="/images/basketball-1.png" alt="Click!"></a></td>
            <td><a href="" name="thumb03"><img src="/images/boxing-1.png" alt="Click!"></a></td>
        </tr>
        <tr>
            <td><a href="" name="thumb04"><img src="/images/cricket.png" alt="Click!"></a></td>
            <td><a href="" name="thumb05"><img src="/images/golf.png" alt="Click!"></a></td>
            <td><a href="" name="thumb06"><img src="/images/hockey.png" alt="Click!"></a></td>
            <td><a href="" name="thumb07"><img src="/images/karate.png" alt="Click!"></a></td>
        </tr>
        <tr>
            <td><a href="" name="thumb08"><img src="/images/lacrosse.png" alt="Click!"></a></td>
            <td><a href="" name="thumb09"><img src="/images/ping-pong-1.png" alt="Click!"></a></td>
            <td><a href="" name="thumb10"><img src="/images/rugby.png" alt="Click!"></a></td>
            <td><a href="" name="thumb11"><img src="/images/soccer-1.png" alt="Click!"></a></td>
        </tr>
        <tr>
            <td><a href="" name="thumb12"><img src="/images/tennis.png" alt="Click!"></a></td>
            <td><a href="" name="thumb13"><img src="/images/treadmill.png" alt="Click!"></a></td>
            <td><a href="" name="thumb14"><img src="/images/volleyball.png" alt="Click!"></a></td>
            <td><a href="" name="thumb15"><img src="/images/waterpolo.png" alt="Click!"></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

