

<div class="container-fluid"  style=padding-top:62px;width:100%;>
    <div class=container" >

        <div class="container" id="sportsPage" style=font-size:calc(4vw + 3vh + 3vmin);>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-10 text-center panel" id="football" >
                    <!--<img src="../images/soccer-1.png" alt="Football" style="max-width:60px;float: left;">-->

                    <div class="panel-body">
                        <img src="../images/soccer-1.png" alt="Football" style="max-width:60px;">
                        FOOTBALL
                        <img src="../images/soccer-1.png" alt="Football" style="max-width:60px;">
                    </div>
                    <a href="/booking/football"><span></span></a>


                </div>


                <div class="col-xs-1">

                </div>
            </div>
            <div class="row row-bottom-margin" >
                <div class="col-xs-1">

                </div>

                <div class="col-xs-10 text-center panel" id="badminton" >
                    <!--<img src="../images/badminton.png" alt="Badminton" style="max-width:60px;float: left;">-->
                    <div class="panel-body" >
                        <img src="../images/badminton.png" alt="Badminton" style="max-width:60px;">
                        BADMINTON
                        <img src="../images/badminton.png" alt="Badminton" style="max-width:60px;">
                    </div>

                    <a href="/booking/badminton"><span></span></a>
                </div>

                <div class="col-xs-1">

                </div>

            </div>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-10 text-center panel" id="basketball" >
                    <!--<img src="../images/soccer-1.png" alt="Football" style="max-width:60px;float: left;">-->
                    <div class="panel-body">
                        <img src="../images/basketball-1.png" alt="Football" style="max-width:60px;">
                        BASKETBALL
                        <img src="../images/basketball-1.png" alt="Football" style="max-width:60px;">
                    </div>
                    <a href="/booking/basketball"><span></span></a>


                <div class="col-xs-1">

                </div>
            </div>

    </div>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-10 text-center panel" id="tennis" >
                    <!--<img src="../images/soccer-1.png" alt="Football" style="max-width:60px;float: left;">-->
                    <div class="panel-body">
                        <img src="../images/tennis.png" alt="Tennis" style="max-width:60px;">
                        TENNIS
                        <img src="../images/tennis.png" alt="Tennis" style="max-width:60px;">
                    </div>
                    <a href="/booking/tennis"><span></span></a>


                    <div class="col-xs-1">

                    </div>
                </div>

            </div>

</div>
