<div id="headerwrap" id="home" name="home">
    <div class="container vertical-center" id="registerForm">
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block" id="formWrapper">
                    <form class="form-signin text-center">
                        <h2 class="form-signin-heading" style="color: #ffffff;">Register</h2>
                        <input type="text" class="form-control" name="name" placeholder="Name" required=""
                               autofocus=""/>
                        <input type="text" class="form-control" name="email" placeholder="Email Address" required=""
                               autofocus=""/>
                        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>