<div id="headerwrap" id="home" name="home" style="background-color">
    <div class="container center-block">
        <div class="row">
            <div class="col-xs-12">
                <div class="center-block">
                    <img src="../images/MOVONlogo.png" alt="Football" style=min-width:600px;min-height:200px;padding:0px;margin:0px;>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
                <div  style=padding-left:30px;>
                    <form class="form-signin text-center" action="/sports">
                        <h2 class="form-signin-heading" >Sign up</h2>
                        <input type="text" class="form-control" name="name" placeholder="Name" required=""
                               autofocus=""/>
                        <input type="text" class="form-control" name="username" placeholder="Email Address" required=""
                               autofocus=""/>
                        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                        <button class="btn btn-lg btn-danger btn-block" type="submit" >Sign up</button>
                    </form>
                </div>
            </div>
            <div class="col-xs-4">

            </div>
        </div>

    </div>
</div>