body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  margin-bottom: 0;
}

.center-block {
  display: table;
  margin: 0 auto;
}

.form-signin {
  max-width: 300px;
}

.vertical-center{
  min-height: 90%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}