<div style="padding-left: 50px; padding-right: 50px;">
    <h3>Contact Us!</h3>
    <form>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="email" class="form-control" id="inputName"
                   placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Message</label>
            <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
        </div>
    </form>
</div>

<!-- Button trigger modal -->
<div style="padding-left: 50px; padding-right: 50px;">
<button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
    Submit
</button>

<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Submission Successfully</h4>
            </div>
            <div class="modal-body">
                Your message has been sent successfully. You will be contacted via email within 48 hours. Thank for using our service!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>