<div class="gallery" align="center">
    <h2>MOVON Launchpad Hackathon Team</h2>

    <img src="images/logo/logo-main.png" alt="MOVON" style="width: 100%; height: auto;">

    <br/>

    <div style="padding-left: 200px; padding-right: 200px">
        <p>Following the LaunchPad Hackathon in Bath on March 25/26 2017, something very special was created. Apart from
            experiencing a special 23-hour hackathon (due to the time change), this event witnessed the birth of
            MOVON.</p>

        <p>MOVON is a solution to an every-day problem faced by the University of Bath, which has been created through
            the collaboration of entrepeneurs Amine Boukhriss and Stanislas Morillot, and programmers Adam Jaamour,
            Justine P Jose, Maggie MC and Sam Lubbers.</p>

        <p>MOVON tackles a very basic idea: sports bookings. Here, at the University of Bath, students have to either
            phone the Sport Center or physically go there to book tennis courts or football pitches. This is both time
            consuming for the students and the university's staff as well, on top of being widely inconvenient for
            anyone looking to casually play any kind of sports.</p>

        <p>This is where MOVON comes in: an online system for booking courts for any sport you want, any time you want,
            on any court you want. After logging in, users can select their sports and are then offered a selection of
            available time slots for their them to exercise. Once a suitable time slot is found, the user can book that
            time slot and receives an email of confirmation to make sure he remembers the booking.</p>

        <p>The objective of MOVON is simple: make everyone's life on campus easier.</p>

        <p>Plans for the future consist in selling the service to the University of Bath, and eventually expand to other
            universities in need of similar systems.</p>
    </div>

    <div class="thumbnails">
        <img onmouseover="preview.src=img1.src" name="img1" src="images/team-pictures/img01.jpg" alt=""/>
        <img onmouseover="preview.src=img2.src" name="img2" src="images/team-pictures/img02.jpg" alt=""/>
        <img onmouseover="preview.src=img3.src" name="img3" src="images/team-pictures/img03.jpg" alt=""/>
        <img onmouseover="preview.src=img4.src" name="img4" src="images/team-pictures/img04.jpg" alt=""/>
        <img onmouseover="preview.src=img5.src" name="img5" src="images/team-pictures/img05.jpg" alt=""/>


        <br/>

        <div class="preview" align="center">
            <img name="preview" src="images/team-pictures/img01.jpg" alt=""/>
        </div>
    </div>