<div class="container-fluid" style=padding-top:62px;width:100%;>
    <div class=container">
        <div class="container" id="sportsPage" style=font-size:calc(4vw + 3vh + 3vmin);>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10 text-center panel" id="football">
                    <div class="panel-body">
                        <img src="../images/sports/soccer.png" alt="Football" style="max-width:60px;">
                        FOOTBALL
                        <img src="../images/sports/soccer.png" alt="Football" style="max-width:60px;">
                    </div>
                    <a href="/booking/Football"><span></span></a>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10 text-center panel" id="badminton">
                    <div class="panel-body">
                        <img src="../images/sports/badminton.png" alt="Badminton" style="max-width:60px;">
                        BADMINTON
                        <img src="../images/sports/badminton.png" alt="Badminton" style="max-width:60px;">
                    </div>
                    <a href="/booking/Badminton"><span></span></a>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10 text-center panel" id="basketball">
                    <div class="panel-body">
                        <img src="../images/sports/basketball.png" alt="Football" style="max-width:60px;">
                        BASKETBALL
                        <img src="../images/sports/basketball.png" alt="Football" style="max-width:60px;">
                    </div>
                    <a href="/booking/Basketball"><span></span></a>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
            <div class="row row-bottom-margin">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10 text-center panel" id="tennis">
                    <div class="panel-body">
                        <img src="../images/sports/tennis.png" alt="Tennis" style="max-width:60px;">
                        TENNIS
                        <img src="../images/sports/tennis.png" alt="Tennis" style="max-width:60px;">
                    </div>
                    <a href="/booking/Tennis"><span></span></a>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>